*{
    padding: 0;
    margin:0;
  }
  body{
    background-color: #FAFAFA;
    font-family: 'Space Grotesk', sans-serif;
  }
  nav{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #eae8e4;
  }
  .logo{
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 500;
    font-family: 'Oleo Script', cursive;
  }
  
  nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    padding: 0 15px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  nav ul{
    float: right;
    margin-right: 100px;
    text-align: center;
  
  }
  .links:hover{
    color:#0F298B;
  }
  .get_started{
    margin-left: 200px;
  }
  button{
    font-size: 17px;
    padding: 15px;
    border-radius: 8px;
    border-style: none;
    color: white;
    background-color:#0F298B;
  }
  
  /* body intro section */
  .intro{
    padding-right: 100px;
    padding-left: 100px;
    margin:50px 0;
    display: flex;
    /* width: 200px; */
  
    /* align-items: center; */
  }
  .content{
    display:block;
    max-height: 50%;
    margin-right: 20px;
    width: 500px;
  }
  
  .content h1{
    color: #0F298B;
    font-size: 40px;
  }
  .content p{
    font-size: 23px;
  }
  
  .first_mansion{
    height: 380px;
    vertical-align: middle;
    float: right;
    padding: 0 10px;
  }
  .btn{
    margin-top: 50px;
  }
  .btn button{
    margin-right: 45px;
    margin-bottom: 15px;
  }
  .btn i{
    color: #0F298B;
    padding: 15px;
  }
  